.bgTop {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 550px;
  background-image: url("/eucalyptus.png");
  background-position: top right;
  background-size: 135%;
  background-repeat: no-repeat;
}

.bgBottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 305px;
  background-image: url("/eucalyptus.png");
  background-position: bottom left;
  background-size: 135%;
  background-repeat: no-repeat;
  margin-top: -250px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 50px 80px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  max-width: 900px;
  padding: 2rem;
  margin: 0 auto;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 1.8rem;
  max-width: 900px;
  margin: 100px 100px 0 auto;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 1.8rem;
  max-width: 900px;
  margin: 0 100px 0 auto;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width); */

  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 20ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .bgTop {
    width: 230px;
    height: 350px;
  }

  .bgBottom {
    width: 250px;
    height: 350px;
    margin-top: -300px;
  }

  .main {
    padding: 100px 20px;
  }

  .footer1 {
    margin: 0 0 0 auto;
    text-align: right;
  }

  .footer2 {
    margin: 0 0 0 auto;
    text-align: right;
  }

  .description {
    font-size: 1.4rem;
    padding: 20px;
    margin: 60px 0;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    margin: 0;
    opacity: 0.8;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 20ch;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
